html,
body {
  min-width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;

  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/*  ------------------------------- */
/* -------------HEADER------------- */
/*  ------------------------------- */
.row {
  width: 100% !important;
}

#home {
  background-image: url("../src/assets/images/bg.jpeg");
  background-size: cover;
  min-height: 100vh;
  width: 100%;
  height: auto;
}

/* NAVBAR LINKS */
#nav li a {
  display: inline-block;
  padding: 20px 15px;
  line-height: 32px;
  text-decoration: none;
  color: black;
  text-align: center;
  position: sticky;
}

.logo {
  display: inline-block;
  padding: 5px;
}


ul#nav li.current a {
  color: #024e76;
}

#center {
  font-size: 18px;
  line-height: 1.2;
  left: 0;
  line-height: 200px;
  margin-top: -100px;
  position: absolute;
  text-align: center;
  top: 50%;
  width: 100%;

}

/*  ------------------------------- */
/* -------------ABOUT------------- */
/*  ------------------------------- */
#about {
  min-height: 100vh;
}

.profileImage {
padding-top: 90px;
}

#para {
  text-align: center;
  padding: 20px;
  font-size: large;
}

/*  ------------------------------- */
/* -----------PORTFOLIO------------ */
/*  ------------------------------- */
#portfolio {
  min-height: 100vh;
  background: #d2a073;
}

#item-wrap {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-bottom: 10%;
  margin-top: 5%;
}

/*  ------------------------------- */
/* ------------CONTACT------------- */
/*  ------------------------------- */
#contact {
  min-height: 100vh;
  padding: 50px;
  background: #d2a073;

}

.contact-form {
  padding-right: 10%;
}

.contact-form button:hover {
  color: #F2E3D5;
  border: 1px solid #024e76;
  background: #39a6b2;
}

.contact-form input,
.contact-form textarea {
  border: 1px solid #024e76;
  display: block;
  padding: 7px 15px;
  font-size: 15px;
  color: #024e76;
  width: 100%;
  margin-bottom: 15px;
  margin-top: 5px;
  border-radius: 10px;
}

.contact-form button {
  width: 100%;
  border: none;
  background: #F2E3D5;
  color: #024e76;
  text-align: center;
  padding: 15px 0;
  font-size: 25px;
  border-radius: 10px;
}

.contact-info>* {
  flex: 1;
  margin: 15px;
}


.contact-info div {
  width: 410px;
  display: inline-block;
  vertical-align: top;
  text-align: left;
  margin: 30px 0 0 60px;
}

.contact-info h3 {
  color: #0E5259;
  font-size: 32px;
}

.contact-info p,
.contact-info address {
  margin: 20px 0;
  line-height: 1.5;
  font-size: 25px;
  font-style: normal;
}

#contact-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  list-style-type: none;
}

.contact-info a {
  color: #0E5259;
  display: inline;
}

.contact-info a:hover {
  color: #ACF2E5;
  transition: .5s ease;
}

/*  ------------------------------- */
/* -------------RESUME-------------- */
/*  ------------------------------- */

#resume{
  padding-top: 70px;
}

.download-intro p {
  line-height: 32px;
  color: #0E5259;
  width: 95%;
  font-size: 30px;
  margin: 0 auto;
  justify-content: center;
}

.resume-body {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-bottom: 10%;
  margin-top: 5%;
}

.resume-body>* {
  flex: 1;
  margin: 150px;
}

.article {
  margin: 10px;
  margin-bottom: 1em;
  background-color: #B4D9CB;
}

.download-text {
  height: auto;
  text-align: center;
  margin: 0 auto 35px auto;
  width: 50%;
}

.download-logo {
  cursor: pointer;
  list-style: none;
  font-size: 40px;
  color: #0E5259;
  display: inline-block;
}

.download-logo:hover {
  color: #328C83;
  opacity: 0.5;
  transition: .5s ease;
}

.download-info {
  flex: 3 70%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.column-title {
  color: #285950;
  font-size: 25px;
  font-weight: bold;
}

.column-text {
  color: #285950;
  font-size: 20px;
  padding: 5px;
}

.column-text ul li {
  list-style: none;
}

/*  ------------------------------- */
/* -------------FOOTER-------------- */
/*  ------------------------------- */

footer {
  background-color: #B4D9CB;
  font-weight: bold;
  width: 100%;
  height: 100px;
  bottom: 0;
  display: flex;
  justify-content: space-around;
  align-items: center;


}

footer h2 {
  color: #0E5259;
  font-size: 15px;
  margin: 0;
}

footer p {
  color: #75BFB2;
  font-size: 15px;
  margin: 0;
  text-align: center;

}

footer div {

  line-height: 1.5;
}

footer a {
  color: #75BFB2;
}

footer a:hover {
  color: #328C83;
  transition: .5s ease;
}

.logo {
  cursor: pointer;
  list-style: none;
  font-size: 40px;
  color: #0E5259;
  display: inline-block;
}

.logo:hover {
  color: #328C83;
  opacity: 0.5;
  transition: .5s ease;
}